//! ### Tema 3

//* #### Fondos (Backgrounds)

$fondoMain3: hsl(268, 75%, 9%);
$fondoKeypad3: hsl(268, 71%, 12%);
$fondoScreen3: hsl(268, 71%, 12%);

//*#### Llaves (Keys)

$fondoDEL3: hsl(281, 89%, 26%);
$SombraDEL3: hsl(285, 91%, 52%);

$FondoIgual3: hsl(176, 100%, 44%);
$SombraIgual3: hsl(177, 92%, 70%);

$NumFondo3: hsl(268, 47%, 21%);
$NumSom3: hsl(290, 70%, 36%);

//* #### Texto (Text)

$Text3: hsl(52, 100%, 62%);
