//*COLORES

//!(key background, toggle)
$Orange: hsl(25, 98%, 40%);

//!(key shadow)
$DarkOrange: hsl(25, 99%, 27%);

//*Tema1

//*FONDOS

//!main
$VeryDarkDesaturatedBlueMain: hsl(222, 26%, 31%);

//!(toggle background, keypad background)
$VeryDarkDesaturatedBlue: hsl(223, 31%, 20%);

//!(screen background):
$VeryDarkDesaturatedBlueScreen: hsl(224, 36%, 15%);

//* LLaves
//! (key background)
$DesaturatedDarkBlueKeyBackground: hsl(225, 21%, 49%);
//! (key shadow)
$DesaturatedDarkBlueKeyShadow: hsl(224, 28%, 35%);
//! (key background, toggle)
$RedKeyBackgroundToggle: hsl(6, 63%, 50%);
//! (key shadow)
$DarkRedKeyShadow: hsl(6, 70%, 34%);
//! (key background)
$LightGrayishOrangeKeyBackground: hsl(30, 25%, 89%);
//! (key shadow)
$GrayishOrangeKeyShadow: hsl(28, 16%, 65%);

//*Texto
$VeryDarkGrayishBlue: hsl(221, 14%, 31%);
$White: hsl(0, 0, 100%);
