//! ### Tema 2

//* #### Fondos (Backgrounds)

$fondoMain2: hsl(0, 0%, 90%);
$fondoKeypad2: hsl(0, 5%, 81%);
$fondoScreen2: hsl(0, 0%, 93%);

//*#### Llaves (Keys)

$fondoDEL2: hsl(185, 42%, 37%);
$SombraDEL2: hsl(185, 58%, 25%);

$FondoIgual2: hsl(25, 98%, 40%);
$SombraIgual2: hsl(25, 99%, 27%);

$NumFondo2: hsl(45, 7%, 89%);
$NumSom2: hsl(35, 11%, 61%);

//* #### Texto (Text)

$Text2: hsl(60, 10%, 19%);
